body{
  background-color: hsl(212, 45%, 89%);
  width:auto;
  margin:0;
  padding-top: 100px
}
.bottomlayer{
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  /* margin-left: 560px;
  margin-top: 10%; */
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 15px;
}
img{
  width: 280px;
  height: 300px;
  margin-left:20px;
}
/* h1{
 text-align: center;
} */
 .frontend
{
  font-size: 20px;
  font-family: 'Outfit',sans-serif;
  font-weight: 700;
  width:250px;
  margin-left: 35px;
  text-align: center;
  line-height: 1.3em;
}
.scan
{
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  width:260px;
  margin-left: 30px;
  text-align: center;
  line-height: 1.3em;
}
   @media (max-width: 500px) {
  body{
    background-color: hsl(212, 45%, 89%);
     width:auto;
    margin:0;
    padding-top: 100px;
  }
  .bottomlayer{
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    /* margin-left: 27.5px;
    margin-top: 10%; */
    margin:auto;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
  }
  img{
    width: 340px;
    height: 365px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .frontend
  {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    width:275px;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
  }
  .scan
  {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width:310px;
    margin: auto;
    text-align: center;
    line-height: 1.3em;
  }
}
